<div class="modal-header">
  <h4 class="modal-title pull-left">{{title}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<form #addEditUserForm="ngForm" (ngSubmit)="saveItem()">
  <div class="modal-body">
    <label class="label">Count:</label>
    <input type="text" appNumberOnly required class="form-control mb-4" id="count" name="count" #count [(ngModel)]="model.count"
      [disabled]="!isEditable" />

    <label class="label">Fiscal Year:</label>
    <input type="text" appNumberOnly required class="form-control mb-4" id="fiscalYear" name="fiscalYear" #fiscalYear
      [(ngModel)]="model.fiscalYear" [disabled]="!isEditable" />

    <label class="label">Meeting Date:</label>
    <div>
      <input type="text" [(ngModel)]="model.meetingDate" required id="meetingDate" name="meetingDate" #meetingDate
        class="form-control" bsDatepicker>
    </div>

    <label class="label">Meeting Time:</label>
    <timepicker [showMeridian]="false" [showSpinners]="true" [(ngModel)]="model.meetingDate" required id="meetingTime"
      name="meetingTime" #meetingTime></timepicker>

    <label class="label">Location:</label>
    <input type="text" class="form-control mb-4" id="location" required name="location" #location [(ngModel)]="model.location"
      [disabled]="!isEditable" />

    <input type="checkbox" class="mr-1" id="isDraft" name="isDraft" #isDraft [(ngModel)]="model.isDraft" />
    <label class="label" for="isDraft"> บันทึกร่าง</label>

  </div>
  <div class="modal-footer">
    <div class="form-row">
      <div class="col">
        <button *ngIf="isEditable" type="submit" [disabled]="!addEditUserForm.valid" class="btn btn-primary btn-block"
          type="submit">Save</button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-danger btn-block" (click)="bsModalRef.hide()">{{ isEditable ? 'Cancel' :
          'Close' }}</button>
      </div>
    </div>
  </div>
</form>