<h3>{{title}}</h3>
<div>
  <div class="row">
    <div class="col">
      <select [(ngModel)]="selectedAgenda" (change)="onAgendaChanged($event.target.value)" class="custom-select mb-3">
        <option [value]="agenda.id" *ngFor="let agenda of agendas">{{agenda.number | thainumber}} - {{agenda.name}}</option>
      </select>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col">
      <button class="btn btn-primary float-right" (click)="goToPreviousPage()">
        <i class="fas fa-chevron-left"></i>
        Page</button>
    </div>
    <div class="col">
      <select class="form-control" [(ngModel)]="pagination.currentPage" #pageNumber (change)="changePage(pageNumber.value)">
        <option value="{{page}}" *ngFor="let page of pageArray">{{page}}</option>
      </select>
    </div>
    <div class="col-auto">
      <h4 class="mt-2">/ {{pagination.totalPages}}</h4>
    </div>
    <div class="col">
      <button class="btn btn-primary" (click)="goToNextPage()">
        Page
        <i class="fas fa-chevron-right"></i>
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col" *ngFor="let item of items">
      <div id="container">
        <app-whiteboard #whiteboard [ratio]="item.ratio" [contentId]="item.id" [image]="item.fileBase64"></app-whiteboard>
      </div>
    </div>
  </div>
</div>