<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <img src="./assets/logo.png" class="nav-logo pr-2" />
    <a class="navbar-brand" [routerLink]="['/home']">iPad Meeting System</a>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="router-link-active">
        <a class="nav-link" [routerLink]="['/home']" >Meetings</a>
      </li>
      <li *ngIf="role === '0'" class="nav-item" routerLinkActive="router-link-active">
        <a class="nav-link" [routerLink]="['/users']">Users</a>
      </li>
    </ul> 

    <a dropdown class="btn dropdown">
      <a class="dropdown-toggle text-light nav-link" dropdownToggle> 
        <i class="fas" 
        [ngClass]="{ 'fa-user-tie': role === '2', 'fa-user-edit': role === '1', 'fa-user-cog' : role === '0' }" ></i>
        {{authService.decodedToken?.unique_name | titlecase}}
      </a>
      <div *dropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="btn dropdown-item" (click)="showChagnePassword()">
          <i class="fa fa-key"></i> Change Password</a>
        <a class="btn dropdown-item" (click)="logout()">
          <i class="fa fa-sign-out"></i> Logout</a>
      </div>
    </a>
  </div>
</nav>