<div class="modal-header">
  <h4 class="modal-title pull-left">{{title}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<form #addEditUserForm="ngForm" (ngSubmit)="saveItem()">
  <div class="modal-body">

    <label class="label">Number:</label>
    <input appNumberOnly type="text" class="form-control mb-4" id="number" name="number" required #number [(ngModel)]="model.number"
      [disabled]="!isEditable" />

    <label class="label">Name:</label>
    <input type="text" class="form-control mb-4" id="name" name="name" #name [(ngModel)]="model.name" required
      [disabled]="!isEditable" />

    <label class="label">Attendee:</label>
    <div class="form-check">
      <div *ngFor="let user of model.users; let i = index">
        <label class="">
          <input type="checkbox" class="" value="{{user.userId}}" name="user_{{i}}" [(ngModel)]="user.isSelected" />
          {{user.userFullName}}</label>
      </div>
    </div>

    <input type="checkbox" class="mr-1" id="isDraft" name="isDraft" #isDraft [(ngModel)]="model.isDraft" />
    <label class="label" for="isDraft"> บันทึกร่าง</label>

  </div>
  <div class="modal-footer">
    <div class="form-row">
      <div class="col">
        <button *ngIf="isEditable" type="submit" [disabled]="!addEditUserForm.valid" class="btn btn-primary btn-block"
          type="submit">Save</button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-danger btn-block" (click)="bsModalRef.hide()">{{ isEditable ? 'Cancel' :
          'Close' }}</button>
      </div>
    </div>
  </div>
</form>