<div class="m-4">
  <img class="col-6 offset-3 col-sm-4 offset-sm-4 col-lg-2 offset-lg-5 col-md-4 offset-md-4 py-2" src="./assets/logo.png"
  />
  <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">

    <h5 class="card-header info-color white-text border py-3">
      <strong>iPad Meeting System</strong>
    </h5> 

    <form #forgetPasswordForm="ngForm" class="border p-5" (ngSubmit)="forgetPassword()">
      <input type="email" class="form-control mb-4" id="forgotUsername" name="forgotUsername" #forgotUsername required placeholder="Email"
        [(ngModel)]="model.username">
      <button type="submit" [disabled]="!forgetPasswordForm.valid" class="btn btn-primary btn-block my-4" type="submit">Send
        forgot password request</button>
    </form>

  </div>
</div>