<div class="modal-header">
    <h4 class="modal-title pull-left">{{title}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
  <form #addEditUserForm="ngForm" (ngSubmit)="saveItem()">
    <div class="modal-body"> 
   
      <div *ngIf="model.fileBase64" class="mb-4">
        <img class="img-fluid mx-auto d-block" [src]="model.fileBase64"/>
      </div>

      <label class="label">File:</label>
      <div *ngIf="isEditable" class="mb-4">
        <input type="file" (change)="readUrl($event)" accept="image/*" />
        <pre class="text-danger">รองรับไฟล์ขนาดไม่เกิน 2.5 Mb</pre>
      </div>
  
      <label class="label">Ordinal:</label>
      <input appNumberOnly type="text" class="form-control mb-4" id="ordinal" name="ordinal" required #ordinal [(ngModel)]="model.ordinal" [disabled]="!isEditable"/>
          
    </div>
    <div class="modal-footer">
      <div class="form-row">
        <div class="col">
          <button *ngIf="isEditable" type="submit" [disabled]="!addEditUserForm.valid" class="btn btn-primary btn-block" type="submit">Save</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-danger btn-block" (click)="bsModalRef.hide()">{{ isEditable ? 'Cancel' : 'Close' }}</button>
        </div>
      </div>
    </div>
  </form>