<h3 class="font-weight-bold">
  <i class="far fa-calendar-alt"></i>
  {{titleName}}</h3>
<hr />

<div class="row">
  <div class="col">
  </div>
  <div class="col">
    <div class="row">
      <div class="col-xs-12 col-12">
        <pagination class="float-right" *ngIf="pagination != null" [boundaryLinks]="true" [totalItems]="pagination.totalItems"
          [itemsPerPage]="pagination.itemsPerPage" [(ngModel)]="pagination.currentPage" (pageChanged)="pageChanged($event)"
          previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
        </pagination>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <label class="label">ประเภทการประชุม</label>
    <select class="form-control mb-4" #type [(ngModel)]="typeId" (change)="onMeetingTypeChanged(type.value)">
      <option value="{{type.id}}" *ngFor="let type of meetingTypes">{{type.name}}</option>
    </select>
  </div>

  <div class="col">
    <label class="label">วาระการประชุม</label>
    <select class="form-control mb-4" #topic (change)="onMeetingTopicChanged(topic.value)">
      <option value="{{topic.id}}" *ngFor="let topic of meetingTopics">{{topic.name}}</option>
    </select>
  </div>
</div>

<table class="table pt-5">
  <thead class="thead-light">
    <tr>
      <th>ประเภทการประชุม</th>
      <th>วาระการประชุม</th>
      <th>ครั้งที่ประชุม</th>
      <th>วันเวลาประชุม</th>
      <th>สถานที่</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items">
      <td>{{item.meetingType}}</td>
      <td>{{item.meetingTopic}}</td>
      <td>{{item.meetingTimeCount | thainumber}}/{{item.meetingFiscalYear | thainumber}}</td>
      <td>{{item.meetingDateTime | thaidate}}</td>
      <td>{{item.meetingPlace}}</td>
      <td class="pull-right">
        <div class="dropdown" dropdown>
          <a class="btn btn-sm btn-primary text-light dropdown-toggle" dropdownToggle>
            คำสั่ง
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" *dropdownMenu>
            <a class="btn dropdown-item" (click)="viewSubItem(item)">
              <i class="fas fa-eye"></i> ดูข้อมูล</a>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>