<div class="modal-header">
  <h4 class="modal-title pull-left">Change Password</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<form #chagnePasswordForm="ngForm" (ngSubmit)="changePassword()">
  <div class="modal-body">
    <input type="password" class="form-control mb-4" id="oldPassword" name="oldPassword" #oldPassword required placeholder="Current Password"
      [(ngModel)]="model.oldPassword">
    <input type="password" class="form-control mb-4" id="newPassword" name="newPassword" #newPassword required placeholder="New Password"
      [(ngModel)]="model.newPassword">
    <input type="password" class="form-control mb-4" id="renewPassword" name="renewPassword" #renewPassword required placeholder="Confirm New Password"
      [(ngModel)]="model.renewPassword">
  </div>
  <div class="modal-footer">
    <div class="form-row">
      <div class="col">
        <button type="submit" [disabled]="!chagnePasswordForm.valid" class="btn btn-primary btn-block" type="submit">Change
          Password</button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-danger btn-block" (click)="bsModalRef.hide()">Cancel</button>
      </div>
    </div>
  </div>
</form>