<div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">

  <h5 class="card-header info-color white-text border py-3">
    <strong>Change Password</strong>
  </h5>

  <form #chagnePasswordForm="ngForm" class="border p-5" (ngSubmit)="changePassword()">
    <input type="password" class="form-control mb-4" id="oldPassword" name="oldPassword" #oldPassword required placeholder="Current Password"
      [(ngModel)]="model.oldPassword">
    <input type="password" class="form-control mb-4" id="newPassword" name="newPassword" #newPassword required placeholder="New Password"
      [(ngModel)]="model.newPassword">
    <input type="password" class="form-control mb-4" id="renewPassword" name="renewPassword" #renewPassword required placeholder="Confirm New Password"
      [(ngModel)]="model.renewPassword">
 
    <div class="form-row">
        <div class="col">
          <button type="submit" [disabled]="!chagnePasswordForm.valid" class="btn btn-primary btn-block" type="submit">Change Password</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-danger btn-block">Cancel</button>
        </div>
      </div>  
  </form>
</div>